 body {
    display: flex;
    justify-content: center; /* горизонтальное центрирование */
    align-items: center; /* вертикальное центрирование (по необходимости) */
    min-height: 100vh; /* чтобы растянуть на всю высоту окна */
    flex-direction: column; /* если нужно вертикальное расположение */
  }
    body {
      background-color: #a4bffe;
    }    
